{{#extends 'base'}}

{{#block "content"}}
<form method="POST">
    <div>
        <label class="form-label">Piano Sheet Name:</label>
        <input type="text" class="form-control" name="SheetName"/>
    </div>
    <div>
        <label class="form-label">Author</label>
        <input type="text" class="form-control" name="author"/>
    </div>
    <div>
        <label class="form-label">Cover version</label>
        <div class="form-check form-check-inline">
            <div class="ml-3">
                <input class="form-check-input" type="checkbox" id="accoustic-checkbox" value="accoustic">
                <label class="form-check-label" for="accoustic-checkbox">Accoustic</label>
            </div>
            <div class="ml-3">
                <input class="form-check-input" type="checkbox" id="original-checkbox" value="original">
                <label class="form-check-label" for="original-checkbox">Original</label>
            </div>
            <div class="ml-3">
                <input class="form-check-input" type="checkbox" id="self-composed-checkbox" value="self-composed">
                <label class="form-check-label" for="self-composed-checkbox">Self-composed</label>
            </div>
                    <div>
                        <label class="form-label">Contact Email</label>
                        <input type="text" class="form-control" name="email"/>
                    </div>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Add Sheet"/>
    </div>
</form>
{{/block}}

{{/extends}}
