{{#extends 'base'}}

{{#block 'content'}}
<h1>Adding New Covers</h1>
<form method="POST">
    <div>
        <label>Cover name:</label>
        <input type="text" class="form-control" name="coverName"/>
    </div>

    <div>
        <label>Author:</label>
        <input type="text" class="form-control" name="author"/>
    </div>

    <div>
        <label>Cover version:</label>
        <input name="tags" class="form-check-input" type="checkbox" value="normal"/>
        <label class="form-check-label">Normal</label>
        <input name="tags" class="form-check-input" type="checkbox" value="accoustic"/>
        <label class="form-check-label">Accoustic</label>
        <input name="tags" class="form-check-input" type="checkbox" value="self-compose"/>
        <label class="form-check-label">Self-compose</label>
    </div>

    <div>
          <input type="submit" class="btn btn-secondary mt-3"/>
    </div>  
</form>
{{/block}}

{{/extends}}
